# C extensions
*.so

# Distribution / packaging
env/
build/
src/build/
develop-eggs/
src/develop-eggs/
dist/
src/dist/
downloads/
lib64/
parts/
sdist/
var/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# temporary and working files
*~
.idea

# old gg configuration
gg.ini
gg.ini*

# backup files
*.bak

Makefile.in
configure
compile
aclocal.m4
autom4te.cache
depcomp
config.status

# autotools disabled for now
#Makefile
Makefile.am
configure.ac
*.in
template/back
